attrs==17.4.0
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.5.1
coverage==4.4.2
decorator==4.2.1
dj-database-url==0.4.1
Django==1.9.7
django-crispy-forms==1.6.1
django-registration-redux==1.4
enum34==1.1.6
Faker==0.8.8
funcsigs==1.0.2
gunicorn==19.6.0
ipaddress==1.0.19
ipdb==0.10.3
ipython==5.5.0
ipython-genutils==0.2.0
mixer==6.0.1
pathlib2==2.3.0
pexpect==4.3.1
pickleshare==0.7.4
pluggy==0.6.0
prompt-toolkit==1.0.15
psycopg2==2.6.2
ptyprocess==0.5.2
py==1.5.2
Pygments==2.2.0
pytest==3.3.2
pytest-cov==2.5.1
pytest-django==3.1.2
pytest-ipdb==0.1
python-dateutil==2.6.1
requests==2.11.1
scandir==1.6
simplegeneric==0.8.1
six==1.11.0
text-unidecode==1.1
traitlets==4.3.2
virtualenv==15.0.2
wcwidth==0.1.7
whitenoise==3.2.2
