body {
    background-color: #eaeaea;
}

#header {
	background-color: #a2a2f7;
	padding-bottom: 1%;
}
h1 {
	color: #222;
	font-family: Georgia,"Times New Roman",Times,serif;
	text-align: center;
}

.container {
	margin: 0 5%;
	border: 1px solid #9a9e9a;
}

a.home_link {
	font-size: 70%;
	background-color: #eee;
	border: 1px;
	padding: 1%;
	text-decoration: none;
}

#add_patient {
	font-size: 90%;
	display: block;
	width: 10%;
	min-width: 85px;
	float: right;
	color: white;
	background-color: blue;
	border: black 1px;
	padding: 1%;
	text-decoration: none;
	margin: 5px;
}


.hearing_aid {
	background-color: #cecbcb;
/*	width: 40%;*/
/*	margin: 0 auto;
	display: inline-block;*/
	padding: 2%;
	border: solid black 1px;
}

.left, .right {
	width: 40%;
	overflow: hidden;
	display: inline-block;
	margin-left: 5%;
}

.left {
	background-color: blue;
}

.right {
	background-color: red;
}

.patient_info {
/*	width: 50%;*/
	background-color: #b4bdb4;
/*	display: inline-block;*/
	padding: 2%;
	border: solid black 1px;
}

#notes li {
	list-style: none;
}

#notes small {
	margin-left: 2%;
	color: #5d5dc7;
}

.ha_select {
	margin-left: 2%;
}

.families {
	display: none;
}

#patient_note {
	border: 1px dotted #999;
	background-color: #f9f5f5;
	width: 90%;
	height: 100px;
	display: block;
	margin: 0 auto;
}