body {
    background-color: #eaeaea;
}

#header {
	background-color: #a2a2f7;
	padding-bottom: 1%;
}
h1 {
	color: #222;
	font-family: Georgia,"Times New Roman",Times,serif;
	text-align: center;
}

.container {
	margin: 0 5%;
	border: 1px solid #9a9e9a;
}

a.home_link {
	font-size: 70%;
	background-color: #eee;
	border: 1px;
	padding: 1%;
	text-decoration: none;
}

#details {
	background-color: #b4bdb4;
}

#add_patient {
	font-size: 90%;
	display: block;
	width: 10%;
	min-width: 85px;
	float: right;
	color: white;
	background-color: blue;
	border: black 1px;
	padding: 1%;
	text-decoration: none;
	margin: 5px;
}


.hearing_aid {
/*	background-color: #cecbcb;*/
/*	width: 40%;*/
/*	margin: 0 auto;
	display: inline-block;*/
	padding: 2%;
/*	border: solid black 1px;*/
}

.hearing_aid h4 {
	-webkit-margin-before: 0.03em;
	text-align: center;
    padding: 1%;
    background-color: #ccc2c2;

}

.left, .right {
	width: 40%;
	overflow: hidden;
	display: inline-block;
	margin-left: 5%;
	padding: 0 2%;
	vertical-align: top;
}

.left {
	background-color: #7272ef;
}

.right {
	background-color: #ec6d6d;
}

.patient_info {
/*	width: 50%;*/
/*	background-color: #b4bdb4;*/
/*	display: inline-block;*/
	padding: 2%;
/*	border: solid black 1px;*/
}

#notes li {
	list-style: none;
}

#notes small {
	margin-left: 2%;
	color: #5d5dc7;
}

.ha_select {
	margin-left: 2%;
}

.families {
	display: none;
}

#patient_note {
	border: 1px dotted #999;
	background-color: #f9f5f5;
	width: 90%;
	height: 100px;
	display: block;
	margin: 2% auto;
}

.btn {
	margin: 5%;
	padding: 2%;
	background-color: #a79a9a;
}

.inline_block {
	display: inline-block;
}


.audiometrist li {
	display: inline;
}

.col70 {
	width: 70%;
}

.col30 {
	width: 29%;
}

.eae {
	background-color: #eaeaea;
	vertical-align: top;
	padding: 0 10px 0 10px;
	box-sizing: border-box;
	font-size: 80%;
}

#zmien {
	background-color: #ccc2c2;
}

.actions ul li {
	display: inline-block;
	background-color: #ccc3c3;
	padding: 1%;
}

.actions ul {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0.2em;
}

.show_on_hover {
	display: none;
}



.actions ul li:hover .child{ display:block; }

.our {
	background-color: red;
}

#top_details {
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
    padding-left: 1%;
}

#NFZ_confirmed {
	background-color: #cadc5d;
	padding-left: 1%;
	font-size: small;
}

#PCPR_estimate {
	background-color: green;
	padding-left: 1%;
	font-size: small;
}

#invoice {
	background-color: blue;
	padding-left: 1%;
	font-size: small;
}

table {
	margin: 5%;
	border-collapse: collapse;
}

td, th {
	padding: 2%;
}


table, th, td {
    border: 1px solid #ddd;
}

tr:nth-child(even) {background-color: #f2f2f2}