.nav-link button, #search_form input, #search_form button {
    font-size: small;
}

.navbar-brand > img {
    margin: -10px;
    height: 3em;
}

#patient_note {
    width: 100%;
    height: 100%;
}





@media only screen and (max-width: 800px) {
    .nav-link button, #search_form input {
      width: 100%;
      font-size: 1em;
    }
  }