<div class="actions">
<ul>
	<li onclick="document.getElementById('wnioski').style.display='block'">wnioski</li>
	<div id='wnioski' style="display:none">
		<div class="left">
		<b>aparat LEWY</b><br>
		{% if left_NFZ_confirmed %}
			potwierdzony wniosek dostarczono: {{ left_NFZ_confirmed.date|date:'d-m-Y' }}<br>
			<div class="btn" onclick="document.getElementById('nfz_left').style.display='block'">Zmień tę datę</div>
			<div id="nfz_left" style="display:none">
			Zmieniam datę odebrania tego wniosku na: <input type="date" name="NFZ_left">
			</div>
		{% else %}
			Dodaj potwierdzony wniosek NFZ: <input type="date" name="NFZ_left">
		{% endif %}
		</div>

		<div class="right">
		<b>aparat PRAWY</b><br>
		{% if right_NFZ_confirmed %}
			potwierdzony wniosek dostarczono: {{ right_NFZ_confirmed.date|date:'d-m-Y' }}<br>
			<div class="btn" onclick="document.getElementById('nfz_right').style.display='block'">Zmień tę datę</div>
			<div id="nfz_right" style="display:none">
			Zmieniam datę odebrania tego wniosku na: <input type="date" name="NFZ_right">
			</div>
		{% else %}
			Dodaj potwierdzony wniosek NFZ: <input type="date" name="NFZ_right">
		{% endif %}
		</div>
	</div>

	<li onclick="document.getElementById('kosztorys').style.display='block'">kosztorys</li>
	<div id='kosztorys' style="display:none">
		<div class="left">
		<b>aparat LEWY</b><br>
		{% if left_PCPR_estimate %}
			kosztorys wystawiono: {{ left_PCPR_estimate.date|date:'d-m-Y' }}<br>
			Aparat: {{ left_PCPR_estimate.ha_make }} {{ left_PCPR_estimate.ha_family }} {{ left_PCPR_estimate.ha_model }}
			<div class="btn" onclick="document.getElementById('pcpr_left').style.display='block'">Zmień te dane</div>
			<div id="pcpr_left" style="display:none">
			Zmieniam aparat na:<br>
				<ul>
				{% for make, families in ha_list.items %}
				<li onclick="document.getElementById('left_pcpr_{{ make }}').style.display='block'">{{ make }}</li>

				<ul id=left_pcpr_{{ make }} style="display:none">
					{% for family, models in families.items %}
					<li onclick="document.getElementById('left_pcpr_{{ make }}_{{ family }}').style.display='block'">{{ family }}
						<ul id='left_pcpr_{{ make }}_{{ family }}' style="display:none">
							{% for model in models %}
							<li><input  name="left_pcpr_ha" type="radio" value='{{ make }}_{{ family }}_{{ model }}' /><label for={{ make }}_{{ family }}_{{ model }}>{{ model }}</label></li>
							{% endfor %}
						</ul>
					</li>
					{% endfor %}
				</ul>
				{% endfor %}

				</ul>
			Zmieniam datę wystawienia kosztorysu na: <input type="date" name="left_PCPR_date" value={{ left_PCPR_estimate.date|date:'Y-m-d' }} ><br>
			</div>
		{% else %}
			<div class="btn" onclick="document.getElementById('add_pcpr_left').style.display='block'">Dodaj Kosztorys</div>
			<div id="add_pcpr_left" style="display:none">
			Aparat:<br>
			<ul>
				{% for make, families in ha_list.items %}
				<li onclick="document.getElementById('left_pcpr_{{ make }}').style.display='block'">{{ make }}</li>

				<ul id=left_pcpr_{{ make }} style="display:none">
					{% for family, models in families.items %}
					<li onclick="document.getElementById('left_pcpr_{{ make }}_{{ family }}').style.display='block'">{{ family }}
						<ul id='left_pcpr_{{ make }}_{{ family }}' style="display:none">
							{% for model in models %}
							<li><input  name="left_pcpr_ha" type="radio" value='{{ make }}_{{ family }}_{{ model }}' /><label for={{ make }}_{{ family }}_{{ model }}>{{ model }}</label></li>
							{% endfor %}
						</ul>
					</li>
					{% endfor %}
				</ul>
				{% endfor %}

				</ul>
			Data wystawienia: <input type="date" name="left_PCPR_date" value={{ time_now|date:'Y-m-d' }}>
			</div>
		{% endif %}
		</div>

		<div class="right">
		<b>aparat PRAWY</b><br>
		{% if right_PCPR_estimate %}
			kosztorys wystawiono: {{ right_PCPR_estimate.date|date:'d-m-Y' }}<br>
			Aparat: {{ right_PCPR_estimate.ha_make }} {{ right_PCPR_estimate.ha_family }} {{ right_PCPR_estimate.ha_model }}
			<div class="btn" onclick="document.getElementById('pcpr_right').style.display='block'">Zmień te dane</div>
			<div id="pcpr_right" style="display:none">
			Zmieniam aparat na:<br>
				<ul>
				{% for make, families in ha_list.items %}
				<li onclick="document.getElementById('right_pcpr_{{ make }}').style.display='block'">{{ make }}</li>

				<ul id=right_pcpr_{{ make }} style="display:none">
					{% for family, models in families.items %}
					<li onclick="document.getElementById('right_pcpr_{{ make }}_{{ family }}').style.display='block'">{{ family }}
						<ul id='right_pcpr_{{ make }}_{{ family }}' style="display:none">
							{% for model in models %}
							<li><input  name="right_pcpr_ha" type="radio" value='{{ make }}_{{ family }}_{{ model }}' /><label for={{ make }}_{{ family }}_{{ model }}>{{ model }}</label></li>
							{% endfor %}
						</ul>
					</li>
					{% endfor %}
				</ul>
				{% endfor %}

				</ul>
			Zmieniam datę wystawienia kosztorysu na: <input type="date" name="right_PCPR_date" value={{ right_PCPR_estimate.date|date:'Y-m-d' }}><br>
			</div>
		{% else %}
			<div class="btn" onclick="document.getElementById('add_pcpr_right').style.display='block'">Dodaj Kosztorys</div>
			<div id="add_pcpr_right" style="display:none">
			Aparat:<br>
			<ul>
				{% for make, families in ha_list.items %}
				<li onclick="document.getElementById('right_pcpr_{{ make }}').style.display='block'">{{ make }}</li>

				<ul id=right_pcpr_{{ make }} style="display:none">
					{% for family, models in families.items %}
					<li onclick="document.getElementById('right_pcpr_{{ make }}_{{ family }}').style.display='block'">{{ family }}
						<ul id='right_pcpr_{{ make }}_{{ family }}' style="display:none">
							{% for model in models %}
							<li><input  name="right_pcpr_ha" type="radio" value='{{ make }}_{{ family }}_{{ model }}' /><label for={{ make }}_{{ family }}_{{ model }}>{{ model }}</label></li>
							{% endfor %}
						</ul>
					</li>
					{% endfor %}
				</ul>
				{% endfor %}

			</ul>
			Data wystawienia: <input type="date" name="right_PCPR_date" value={{ time_now|date:'Y-m-d' }}>
			</div>
		{% endif %}
		</div>
	</div>
	<li onclick="document.getElementById('faktura').style.display='block'">faktura</li>
	<div id='faktura' style="display:none">
	
		<div class="left">
		<b>aparat LEWY</b><br>
		{% if left_invoice %}
			fakturę wystawiono: {{ left_invoice.date|date:'d-m-Y' }}<br>
			Aparat: {{ left_invoice.ha_make }} {{ left_invoice.ha_family }} {{ left_invoice.ha_model }}
			<div class="btn" onclick="document.getElementById('left_invoice').style.display='block'">Zmień te dane</div>
			<div id="left_invoice" style="display:none">
			Zmieniam aparat na:<br>
				<ul>
				{% for make, families in ha_list.items %}
				<li onclick="document.getElementById('left_invoice_{{ make }}').style.display='block'">{{ make }}</li>

				<ul id=left_invoice_{{ make }} style="display:none">
					{% for family, models in families.items %}
					<li onclick="document.getElementById('left_invoice_{{ make }}_{{ family }}').style.display='block'">{{ family }}
						<ul id='left_invoice_{{ make }}_{{ family }}' style="display:none">
							{% for model in models %}
							<li><input  name="left_invoice_ha" type="radio" value='{{ make }}_{{ family }}_{{ model }}' /><label for={{ make }}_{{ family }}_{{ model }}>{{ model }}</label></li>
							{% endfor %}
						</ul>
					</li>
					{% endfor %}
				</ul>
				{% endfor %}

				</ul>
			Zmieniam datę wystawienia faktury na: <input type="date" name="left_invoice_date" value={{ left_invoice.date|date:'Y-m-d' }} ><br>
			</div>
		{% else %}
			<div class="btn" onclick="document.getElementById('add_left_invoice').style.display='block'">Dodaj Fakturę</div>
			<div id="add_left_invoice" style="display:none">
			Aparat:<br>
			<ul>
				{% for make, families in ha_list.items %}
				<li onclick="document.getElementById('left_invoice_{{ make }}').style.display='block'">{{ make }}</li>

				<ul id=left_invoice_{{ make }} style="display:none">
					{% for family, models in families.items %}
					<li onclick="document.getElementById('left_invoice_{{ make }}_{{ family }}').style.display='block'">{{ family }}
						<ul id='left_invoice_{{ make }}_{{ family }}' style="display:none">
							{% for model in models %}
							<li><input  name="left_invoice_ha" type="radio" value='{{ make }}_{{ family }}_{{ model }}' /><label for={{ make }}_{{ family }}_{{ model }}>{{ model }}</label></li>
							{% endfor %}
						</ul>
					</li>
					{% endfor %}
				</ul>
				{% endfor %}

				</ul>
			Data wystawienia: <input type="date" name="left_invoice_date" value={{ time_now|date:'Y-m-d' }}>
			</div>
		{% endif %}
		</div>

		<div class="right">
		<b>aparat PRAWY</b><br>
		{% if right_invoice %}
			fakturę wystawiono: {{ right_invoice.date|date:'d-m-Y' }}<br>
			Aparat: {{ right_invoice.ha_make }} {{ right_invoice.ha_family }} {{ right_invoice.ha_model }}
			<div class="btn" onclick="document.getElementById('right_invoice').style.display='block'">Zmień te dane</div>
			<div id="right_invoice" style="display:none">
			Zmieniam aparat na:<br>
				<ul>
				{% for make, families in ha_list.items %}
				<li onclick="document.getElementById('right_invoice_{{ make }}').style.display='block'">{{ make }}</li>

				<ul id=right_invoice_{{ make }} style="display:none">
					{% for family, models in families.items %}
					<li onclick="document.getElementById('right_invoice_{{ make }}_{{ family }}').style.display='block'">{{ family }}
						<ul id='right_invoice_{{ make }}_{{ family }}' style="display:none">
							{% for model in models %}
							<li><input  name="right_invoice_ha" type="radio" value='{{ make }}_{{ family }}_{{ model }}' /><label for={{ make }}_{{ family }}_{{ model }}>{{ model }}</label></li>
							{% endfor %}
						</ul>
					</li>
					{% endfor %}
				</ul>
				{% endfor %}

				</ul>
			Zmieniam datę wystawienia faktury na: <input type="date" name="right_invoice_date" value={{ right_invoice.date|date:'Y-m-d' }}><br>
			</div>
		{% else %}
			<div class="btn" onclick="document.getElementById('add_right_invoice').style.display='block'">Dodaj Fakturę</div>
			<div id="add_right_invoice" style="display:none">
			Aparat:<br>
			<ul>
				{% for make, families in ha_list.items %}
				<li onclick="document.getElementById('right_invoice_{{ make }}').style.display='block'">{{ make }}</li>

				<ul id=right_invoice_{{ make }} style="display:none">
					{% for family, models in families.items %}
					<li onclick="document.getElementById('right_invoice_{{ make }}_{{ family }}').style.display='block'">{{ family }}
						<ul id='right_invoice_{{ make }}_{{ family }}' style="display:none">
							{% for model in models %}
							<li><input  name="right_invoice_ha" type="radio" value='{{ make }}_{{ family }}_{{ model }}' /><label for={{ make }}_{{ family }}_{{ model }}>{{ model }}</label></li>
							{% endfor %}
						</ul>
					</li>
					{% endfor %}
				</ul>
				{% endfor %}

			</ul>
			Data wystawienia: <input type="date" name="right_invoice_date" value={{ time_now|date:'Y-m-d' }}>
			</div>
		{% endif %}
		</div>
	</div>
	<li onclick="document.getElementById('odbior').style.display='block'">odbiór</li>
	<div id='odbior' style="display:none">
	
		<div class="left">
		<b>aparat LEWY</b><br>
		{% if left_invoice %}
			
			Odbiór apartu: {{ left_invoice.ha_make }} {{ left_invoice.ha_family }} {{ left_invoice.ha_model }}<br>
			Data odbioru: <input type="date" name="left_collection_date" value={{ time_now|date:'Y-m-d' }}><br>
			POTWIERDZAM ODBIÓR: <input type="checkbox" name="left_collection_confirm">
			
		{% else %}
			Nie ma wystawionej faktury na ten aparat - najpierw dodaj fakturę
		{% endif %}
		</div>

		<div class="right">
		<b>aparat PRAWY</b><br>
		{% if right_invoice %}
			Odbiór apartu: {{ right_invoice.ha_make }} {{ right_invoice.ha_family }} {{ right_invoice.ha_model }}<br>
			Data odbioru: <input type="date" name="right_collection_date" value={{ time_now|date:'Y-m-d' }}><br>
			POTWIERDZAM ODBIÓR: <input type="checkbox" name="right_collection_confirm">
			
		{% else %}
			Nie ma wystawionej faktury na ten aparat - najpierw dodaj fakturę
		{% endif %}
		</div>
	</div>
</ul>
</div>