<div class="row mt-3">
	<!-- wnioski -->
	<div class="col-lg">
		<div class="w-100 btn btn-outline-info" data-toggle="collapse" data-target="#wnioski" aria-expanded="false" aria-controls="wnioski">wnioski</div>
		<div class="collapse" id="wnioski">
			<div class="card card-body">
				<div class="btn btn-outline-info">
					<h4 class="bg-info text-white">ucho lewe</h4>
					{% if left_NFZ_confirmed %}
						potwierdzony wniosek dostarczono: {{ left_NFZ_confirmed.date|date:'d-m-Y' }}<br>
						<div class="w-50 p-3 float-left">
							<div class="btn btn-secondary" data-toggle="collapse" data-target="#nfz_left" aria-expanded="false" aria-controls="nfz_left">Zmień</div>
							<div class="collapse" id="nfz_left">
								<p>Zmieniam datę odebrania tego wniosku na:<p/>
								<input type="date" name="NFZ_left">
							</div>
						</div>
						<div class="w-50 p-3 float-right">
							<div class="btn btn-secondary" data-toggle="collapse" data-target="#nfz_left_remove" aria-expanded="false" aria-controls="nfz_left">Anuluj</div>
							<div class="collapse" id="nfz_left_remove">
								<input type="radio" name="nfz_left_remove" id="nfz_left_remove"/>
								<label for="nfz_left_remove">Anuluj</label>
							</div>
						</div>
					{% else %}
						Dodaj potwierdzony wniosek NFZ: <input type="date" name="NFZ_left">
					{% endif %}
				</div>
					
			
			
				<div class="btn btn-outline-danger">
					<h4 class="bg-danger text-white">ucho prawe</h4>
					{% if right_NFZ_confirmed %}
						potwierdzony wniosek dostarczono: {{ right_NFZ_confirmed.date|date:'d-m-Y' }}<br>
						<div class="w-50 p-3 float-left">
							<div class="btn btn-secondary" data-toggle="collapse" data-target="#nfz_right" aria-expanded="false" aria-controls="nfz_right">Zmień</div>
							<div class="collapse" id="nfz_right">
								<p>Zmieniam datę odebrania tego wniosku na:<p/>
								<input type="date" name="NFZ_right">
							</div>
						</div>
						<div class="w-50 p-3 float-right">
							<div class="btn btn-secondary" data-toggle="collapse" data-target="#nfz_right_remove">Anuluj</div>
							<div class="collapse" id="nfz_right_remove">
								<input type="radio" name="nfz_right_remove" id="nfz_right_remove"/>
								<label for="nfz_right_remove">Anuluj</label>
							</div>
						</div>
					{% else %}
						Dodaj potwierdzony wniosek NFZ: <input type="date" name="NFZ_right">
					{% endif %}
				</div>

			</div>
				{% if left_NFZ_confirmed_all %}
					<h4>Poprzednie lewe:</h4>
					<ul class="list-unstyled">
					{% for i in left_NFZ_confirmed_all %}
					<li>
						<small>{{ i.date|date:'d-m-Y' }}</small>
						<hr>
					</li>
					{% endfor %}
					</ul>
				{% endif %}
				{% if right_NFZ_confirmed_all %}
					<h4>Poprzednie prawe:</h4>
					<ul class="list-unstyled">
					{% for i in right_NFZ_confirmed_all %}
					<li>
						<small>{{ i.date|date:'d-m-Y' }}</small>
						<hr>
					</li>
					{% endfor %}
					</ul>
				{% endif %}

				
		</div>
	</div>

	<!-- kosztorys -->
	<div class="col-lg">
		<div class="w-100 btn btn-outline-info" data-toggle="collapse" data-target="#kosztorys" aria-expanded="false" aria-controls="kosztorys">kosztorys</div>
		<div class="collapse" id="kosztorys">
			<div class="card card-body">
				<div class="btn btn-outline-info">
					<h4 class="bg-info text-white">ucho lewe</h4>
					{% if left_PCPR_estimate %}
					kosztorys wystawiono: {{ left_PCPR_estimate.date|date:'d-m-Y' }}<br>
					Aparat: {{ left_PCPR_estimate.ha_make }} {{ left_PCPR_estimate.ha_family }} {{ left_PCPR_estimate.ha_model }}
					<div class="w-50 p-3 float-left">
						<div class="btn btn-secondary" data-toggle="collapse" data-target="#pcpr_left" aria-expanded="false" aria-controls="pcpr_left">Zmień</div>
						<div class="collapse" id="pcpr_left">
							Zmieniam aparat na:<br>
							{% include "crm/left_pcpr_ha_select.html" %}
							Zmieniam datę wystawienia kosztorysu na: <input type="date" name="left_PCPR_date" value={{ left_PCPR_estimate.date|date:'Y-m-d' }} ><br>
						</div>
					</div>
					<div class="w-50 p-3 float-right">
						<div class="btn btn-secondary" data-toggle="collapse" data-target="#pcpr_left_remove" aria-expanded="false" aria-controls="pcpr_left">Anuluj</div>
						<div class="collapse" id="pcpr_left_remove">
							<input type="radio" name="pcpr_left_remove" id="pcpr_left_remove"/>
							<label for="pcpr_left_remove">Anuluj</label>
						</div>
					</div>
					{% else %}
					<div class="btn btn-secondary" data-toggle="collapse" data-target="#add_pcpr_left" aria-expanded="false" aria-controls="add_pcpr_left">dodaj kosztorys</div>
					<div class="collapse" id="add_pcpr_left">
						Aparat:<br>
						{% include "crm/left_pcpr_ha_select.html" %}
						Data wystawienia: <input type="date" name="left_PCPR_date" value={% now 'Y-m-d' %}>
					</div>
					{% endif %}
				</div>

				<div class="btn btn-outline-danger">
					<h4 class="bg-danger text-white">ucho prawe</h4>
					{% if right_PCPR_estimate %}
					kosztorys wystawiono: {{ right_PCPR_estimate.date|date:'d-m-Y' }}<br>
					Aparat: {{ right_PCPR_estimate.ha_make }} {{ right_PCPR_estimate.ha_family }} {{ right_PCPR_estimate.ha_model }}
					<div class="w-50 p-3 float-left">
						<div class="btn btn-secondary" data-toggle="collapse" data-target="#pcpr_right" aria-expanded="false" aria-controls="pcpr_right">Zmień</div>
						<div class="collapse" id="pcpr_right">
							Zmieniam aparat na:<br>
								{% include "crm/right_pcpr_ha_select.html" %}
							Zmieniam datę wystawienia kosztorysu na: <input type="date" name="right_PCPR_date" value={{ right_PCPR_estimate.date|date:'Y-m-d' }} ><br>
						</div>
					</div>
					<div class="w-50 p-3 float-right">
							<div class="btn btn-secondary" data-toggle="collapse" data-target="#pcpr_right_remove" aria-expanded="false" aria-controls="pcpr_right">Anuluj</div>
							<div class="collapse" id="pcpr_right_remove">
								<input type="radio" name="pcpr_right_remove" id="pcpr_right_remove"/>
								<label for="pcpr_right_remove">Anuluj</label>
							</div>
					</div>
					{% else %}
					<div class="btn btn-secondary" data-toggle="collapse" data-target="#add_pcpr_right" aria-expanded="false" aria-controls="add_pcpr_right">dodaj kosztorys</div>
					<div class="collapse" id="add_pcpr_right">
						{% include "crm/right_pcpr_ha_select.html" %}
						Data wystawienia: <input type="date" name="right_PCPR_date" value={% now 'Y-m-d' %}>
					</div>
					{% endif %}
				</div>
					{% if left_PCPR_estimate_all %}
						<h4>Poprzednie lewe:</h4>
						<ul class="list-unstyled">
						{% for i in left_PCPR_estimate_all %}
						<li>
							<small>{{ i.date|date:'d-m-Y' }}, {{ i.ha_make }} {{ i.ha_family }} {{ i.ha_model }}</small>
							<hr>
						</li>
						{% endfor %}
						</ul>
					{% endif %}
					{% if right_PCPR_estimate_all %}
						<h4>Poprzednie prawe:</h4>
						<ul class="list-unstyled">
						{% for i in right_PCPR_estimate_all %}
						<li>
							<small>{{ i.date|date:'d-m-Y' }}, {{ i.ha_make }} {{ i.ha_family }} {{ i.ha_model }}</small>
							<hr>
						</li>
						{% endfor %}
						</ul>
					{% endif %}
			</div>
				
		</div>
	</div>
	
	<!-- faktura -->
	<div class="col-lg">
		<div class="w-100 btn btn-outline-info" data-toggle="collapse" data-target="#faktura" aria-expanded="false" aria-controls="faktura">faktura</div>
		<div class="collapse" id="faktura">
			<div class="card card-body">
				<div class="btn btn-outline-info">
					<h4 class="bg-info text-white">ucho lewe</h4>
					{% if left_invoice %}
					fakture wystawiono: {{ left_invoice.date|date:'d-m-Y' }}<br>
					Aparat: {{ left_invoice.ha_make }} {{ left_invoice.ha_family }} {{ left_invoice.ha_model }}
					<div class="w-50 p-3 float-left">
						<div class="btn btn-secondary" data-toggle="collapse" data-target="#left_invoice" aria-expanded="false">Zmień</div>
						<div class="collapse" id="left_invoice">
							Zmieniam aparat na:<br>
								{% include "crm/left_invoice_ha_select.html" %}
							Zmieniam datę wystawienia faktury na: <input type="date" name="left_invoice_date" value={{ left_invoice.date|date:'Y-m-d' }} ><br>
						</div>
					</div>
					<div class="w-50 p-3 float-right">
						<div class="btn btn-secondary" data-toggle="collapse" data-target="#left_invoice_remove" aria-expanded="false">Anuluj</div>
						<div class="collapse" id="left_invoice_remove">
							<input type="radio" name="left_invoice_remove" id="left_invoice_remove"/>
							<label for="left_invoice_remove">Anuluj</label>
						</div>
					</div>
					{% else %}
					<div class="btn btn-secondary" data-toggle="collapse" data-target="#add_left_invoice" aria-expanded="false" aria-controls="add_left_invoice">dodaj fakturę</div>
					<div class="collapse" id="add_left_invoice">
						Aparat:<br>
						{% include "crm/left_invoice_ha_select.html" %}
						Data wystawienia: <input type="date" name="left_invoice_date" value={% now 'Y-m-d' %}>
					</div>
					{% endif %}
				</div>
				<div class="btn btn-outline-danger">
					<h4 class="bg-danger text-white">ucho prawe</h4>
					{% if right_invoice %}
					fakture wystawiono: {{ right_invoice.date|date:'d-m-Y' }}<br>
					Aparat: {{ right_invoice.ha_make }} {{ right_invoice.ha_family }} {{ right_invoice.ha_model }}
					<div class="w-50 p-3 float-left">
						<div class="btn btn-secondary" data-toggle="collapse" data-target="#right_invoice" aria-expanded="false" aria-controls="right_invoice">Zmień</div>
						<div class="collapse" id="right_invoice">
							Zmieniam aparat na:<br>
							{% include "crm/right_invoice_ha_select.html" %}
							Zmieniam datę wystawienia faktury na: <input type="date" name="right_invoice_date" value={{ right_invoice.date|date:'Y-m-d' }} ><br>
						</div>
					</div>
					<div class="w-50 p-3 float-right">
						<div class="btn btn-secondary" data-toggle="collapse" data-target="#right_invoice_remove" aria-expanded="false">Anuluj</div>
						<div class="collapse" id="right_invoice_remove">
							<input type="radio" name="right_invoice_remove" id="right_invoice_remove"/>
							<label for="right_invoice_remove">Anuluj</label>
						</div>
					</div>
					{% else %}
					<div class="btn btn-secondary" data-toggle="collapse" data-target="#add_right_invoice" aria-expanded="false" aria-controls="add_right_invoice">dodaj fakturę</div>
					<div class="collapse" id="add_right_invoice">
						Aparat:<br>
						{% include "crm/right_invoice_ha_select.html" %}
						Data wystawienia: <input type="date" name="right_invoice_date" value={% now 'Y-m-d' %}>
					</div>
					{% endif %}
				</div>
					{% if left_invoice_all %}
						<h4>Poprzednie lewe:</h4>
						<ul class="list-unstyled">
						{% for i in left_invoice_all %}
						<li>
							<small>{{ i.date|date:'d-m-Y' }}, {{ i.ha_make }} {{ i.ha_family }} {{ i.ha_model }}</small>
							<hr>
						</li>
						{% endfor %}
						</ul>
					{% endif %}
					{% if right_invoice_all %}
						<h4>Poprzednie prawe:</h4>
						<ul class="list-unstyled">
						{% for i in right_invoice_all %}
						<li>
							<small>{{ i.date|date:'d-m-Y' }}, {{ i.ha_make }} {{ i.ha_family }} {{ i.ha_model }}</small>
							<hr>
						</li>
						{% endfor %}
						</ul>
					{% endif %}
				</div>
				
		</div>
	</div>

	<!-- odbiór -->
	<div class="col-lg">
		<div class="w-100 btn btn-outline-info" data-toggle="collapse" data-target="#odbiór" aria-expanded="false" aria-controls="odbiór">odbiór</div>
		<div class="collapse" id="odbiór">
			<div class="card card-body">
				<div class="left btn btn-outline-info">
					<h4 class="bg-info text-white">aparat LEWY</h4>
					{% if left_invoice %}
						
						Odbiór apartu: {{ left_invoice.ha_make }} {{ left_invoice.ha_family }} {{ left_invoice.ha_model }}<br>
						Data odbioru: <input type="date" name="left_collection_date" value={{ time_now|date:'Y-m-d' }}><br>
						POTWIERDZAM ODBIÓR: <input type="checkbox" name="left_collection_confirm">
						
					{% else %}
						Nie ma wystawionej faktury na ten aparat - najpierw dodaj fakturę
					{% endif %}
				</div>
			
				<div class="right btn btn-outline-danger">
					<h4 class="bg-danger text-white">aparat PRAWY</h4>
					{% if right_invoice %}
						Odbiór apartu: {{ right_invoice.ha_make }} {{ right_invoice.ha_family }} {{ right_invoice.ha_model }}<br>
						Data odbioru: <input type="date" name="right_collection_date" value={{ time_now|date:'Y-m-d' }}><br>
						POTWIERDZAM ODBIÓR: <input type="checkbox" name="right_collection_confirm">
						
					{% else %}
						Nie ma wystawionej faktury na ten aparat - najpierw dodaj fakturę
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	
</div>

