{% extends "crm/base.html" %}

{% block content %}
<h1>Wyszukiwanie zaawansowane:</h1>

<form method="GET" action="" class="mb-3">
	<input type="search" name="lname" placeholder="nazwisko"><br>
	<hr>
	<input type="search" name="fname" placeholder="imie"><br>
	<hr>

	<p>
		Lokalizacja:
		<ul class="list-inline">
			{% for location in locations %}
			<li class="list-inline-item">
				<input type="radio" name="loc" id="{{ location }}" value="{{ location }}" />
				<label for="{{ location }}">{{ location }}</label>
				<br/>
			</li>
			{% endfor %}
		</ul>
	</p>
	<hr>

	<p>
		Marka aparatu:
		<ul class="list-inline">
			 {% for make, families in ha_list.items %}
			<li class="list-inline-item">
				<input type="radio" name="ha_make" id="make_{{ make }}" value="{{ make }}" />
				<label for="{{ make }}">{{ make }}</label>
				<br/>
			</li>
			{% endfor %}
		</ul>
	</p>
	<hr>

	<div class="btn btn-secondary" data-toggle="collapse" data-target="#add_ha" aria-expanded="false">Wybież konkretny model aparatu:</div>
	<div class="collapse" id="add_ha">
		<div class="panel-group" id="ha">
			{% for make, families in ha_list.items %}
			<div class="panel panel-default">
				<a data-toggle="collapse" data-parent="#ha" href="#{{ make }}">
					<div class="btn btn-primary">{{ make }}</div>
				</a>
				<div id="{{ make }}" class="panel-collapse collapse in">
					{% for family, models in families.items %}
					<div class="panel-group" id="inner_{{ make }}">
						<div class="panel panel-default">
							<a data-toggle="collapse" data-parent="#inner_{{ make }}" href="#{{ make }}_{{ family|cut:" " }}">
								<div class="btn btn-success">{{ family }}</div>
							</a>
							<div id="{{ make }}_{{ family|cut:" " }}" class="panel-collapse collapse in">
								{% for model in models %}
								<div class="panel-group" id="inner_{{ make }}_{{ family|cut:" " }}">
									<div class="panel panel-default">
										<a data-toggle="collapse" data-parent="#inner_{{ make }}_{{ family|cut:" " }}" 
															href="#{{ make }}_{{ family|cut:" " }}_{{ model|cut:" " }}">
											<div class="btn btn-warning">{{ model }}</div>
										</a>
										<div id="{{ make }}_{{ family|cut:" " }}_{{ model|cut:" " }}" class="panel-collapse collapse in">
											<input name="ha_make_family_model" type="radio" value='{{ make }}_{{ family }}_{{ model }}' />
											<label for={{ make }}_{{ family }}_{{ model }}>{{ model }}</label>
										</div>
									</div>
								</div>
								{% endfor %}
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	<hr>

	<h5 class="d-inline-block">Daty zakupu aktualnych aparatów: </h5>
	<div class="btn btn-secondary" data-toggle="collapse" data-target="#ha_dates" aria-expanded="false">Wybież</div>
	<div class="collapse" id="ha_dates">
		<p>Data zakupu po:
			<input type="date" name="s_purch_date"> Data zakupu przed:
			<input type="date" name="e_purch_date">
		</p>
	</div>
	<hr>

	<h5 class="d-inline-block">Daty potwierdzonych wniosków NFZ
	<small class="text-muted">(tylko jeszcze nie zrelizowane i nie anulowane)</small>: 
	</h5>
	<div class="btn btn-secondary" data-toggle="collapse" data-target="#nfz_dates" aria-expanded="false">Wybież</div>
	<div class="collapse" id="nfz_dates">
		<p>Data wniosku po: <input type="date" name="s_nfz_date">
		Data wniosku przed: <input type="date" name="e_nfz_date">
		</p>
	</div>
	<hr>


	<h5 class="d-inline-block">Daty kosztorysów 
		<small class="text-muted">(tylko jeszcze nie zrelizowane i nie anulowane)</small>: 
	</h5>
	<div class="btn btn-secondary" data-toggle="collapse" data-target="#pcpr_dates" aria-expanded="false">Wybież</div>
	<div class="collapse" id="pcpr_dates">
		<p>Data wystawienia kosztorysu po: <input type="date" name="s_pcpr_date">
		Data wystawienia kosztorysu przed: <input type="date" name="e_pcpr_date">
		</p>
	</div>
	<hr>

	<h5 class="d-inline-block">Daty faktur do PCPR: 
		<small class="text-muted">(tylko jeszcze nie zrelizowane i nie anulowane)</small>: 
	</h5>
	<div class="btn btn-secondary" data-toggle="collapse" data-target="#invoice_dates" aria-expanded="false">Wybież</div>
	<div class="collapse" id="invoice_dates">
		<p>Data wystawienia faktury po: <input type="date" name="s_invoice_date">
		Data wystawienia faktury przed: <input type="date" name="e_invoice_date">
	</p>
	</div>
	<hr>

	<input type="submit" value="Szukaj" class="btn btn-primary btn-lg">
</form>
<h2>Wyniki wyszukiwania:</h2>

{% if patient_list %}
<table class="table">
	<tr>
		<th>
			<a href="?order_by=last_name">Nazwisko</a>
		</th>
		<th>
			<a href="?order_by=first_name">Imię</a>
		</th>
		<th>
			<a href="?order_by=date_of_birth">Data urodzenia</a>
		</th>
		<th>
			<a href="?order_by=create_date">Data dodania</a>
		</th>
	</tr>
	{% for patient in patient_list %}
	<tr>
		<td>
			<a href="{% url 'crm:edit' patient.id %}">{{ patient.last_name }}</a>
		</td>
		<td>
			<a href="{% url 'crm:edit' patient.id %}">{{ patient.first_name }}</a>
		</td>
		<td>{{ patient.date_of_birth|date:'Y m d' }}</td>
		<td>{{ patient.create_date|date:'Y m d' }}</td>

	</tr>

	{% endfor %}
</table>

<div class="pagination">
	<span class="step-links">
		{% if patient_list.has_previous %}
		<a href="?page={{ patient_list.previous_page_number }}">poprzednia</a>
		{% endif %}

		<span class="current">
			Strona {{ patient_list.number }} z {{ patient_list.paginator.num_pages }}.
		</span>

		{% if patient_list.has_next %}
		<a href="?page={{ patient_list.next_page_number }}">następna</a>
		{% endif %}
	</span>
</div>

{% else %}
<p>Nie ma takich pacjentów</p>
{% endif %}












{% endblock content %}