{% extends "crm/base.html" %}

{% block content %}
<div id="main" >
Wyszukiwanie zaawansowane:
<form method="GET" action="">
	<input type="search" name="lname" placeholder="nazwisko"><br>
	<hr>
	<input type="search" name="fname" placeholder="imie"><br>
	<hr>
	Lokalizacja:<br>
	{% for i in locations %}
	<input  name="loc" type="radio" value='{{ i }}' /><label for={{ i }}>{{ i }}</label><br>
	{% endfor %}
	<hr>
	Wybierz markę aktualnie noszonego aparatu:<br>
	{% for make, families in ha_list.items %}
	<input  name="ha_make" type="radio" value='{{ make }}' /><label for={{ make }}>{{ make }}</label><br>
	{% endfor %}
	<hr>
	<div onclick="document.getElementById('makes').style.display='block'"><span style="background-color:pink;">Kliknij aby wybrać markę, rodzinę i model aktualnie noszonego aparatu</span></div>
	<ul id="makes" style="display:none">
		{% for make, families in ha_list.items %}
				<li onclick="document.getElementById('left_pcpr_{{ make }}').style.display='block'">{{ make }}</li>

				<ul id=left_pcpr_{{ make }} style="display:none">
					{% for family, models in families.items %}
					<li onclick="document.getElementById('left_pcpr_{{ make }}_{{ family }}').style.display='block'">{{ family }}
						<ul id='left_pcpr_{{ make }}_{{ family }}' style="display:none">
							{% for model in models %}
							<li><input  name="ha_make_family_model" type="radio" value='{{ make }}_{{ family }}_{{ model }}' /><label for={{ make }}_{{ family }}_{{ model }}>{{ model }}</label></li>
							{% endfor %}
						</ul>
					</li>
					{% endfor %}
				</ul>
		{% endfor %}
	</ul>
	<hr>

	Data zakupu aktualnego aparatu po: <input type="date" name="s_purch_date"><br>
	<hr>
	Data zakupu aktualnego aparatu przed: <input type="date" name="e_purch_date"><br>
	<hr>
	<!-- <input type="search" name="ha" placeholder="aparat słuchowy"><br>
	<input type="search" name="bdate" placeholder="data urodzenia"><br>
	<input type="search" name="adddate" placeholder="data dodania pacjenta"><br> -->
	<input type="submit" value="Szukaj">
</form>
<h2>Wyniki wyszukiwania:</h2>
{% if patient_list %}
	<ul>
	{% for patient in patient_list %}
		<li><a href="{% url 'crm:edit' patient.id %}">{{ patient.last_name }} {{ patient.first_name }} {{ patient.date_of_birth }}</a>
		</li>
	{% endfor %}
	</ul>

{% else %}
	<p>No patients in database.</p>
{% endif %}
</div>
{% endblock content %}