<!DOCTYPE html>
<html lang="pl">
<head>
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'crm/style.css' %}" />
<link rel="icon" type="image/png" href="{% static 'crm/favicon.png' %}" />
	<title></title>
</head>
<body>

<div class='container'>
	<div id='header'>
	<nav class="old" role="navigation">
	<ul>
		<li><a href="{% url 'crm:index' %}">LISTA PACJENTÓW</a></li>
		<li><a href="{% url 'crm:create' %}">DODAJ PACJENTA</a></li>
		<li><a href="{% url 'crm:select_noach_file' %}">IMPORT Z NOACH</a></li>
	</ul>
	</nav>
	<img class="logo" src="{% static 'crm/logo.png' %}" />

	{% include "crm/messages_display.html" %}
	</div>
{% block content %}

{% endblock content %}
</div>

</body>
</html>