{% extends "crm/base.html" %}

{% block content %}
<h1>Dodaj nowego pacjenta</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'crm:store' %}" method="post">
{% csrf_token %}

<div id='details'>
<div class="patient_info">
	<h3>Dane pacjenta:</h3>
	First name: <input type="text" name="fname" required><br>
	Last name: <input type="text" name="lname" required><br>
	Date of birth: <input type="date" name="bday" required><br>
	Telephone: <input type="tel" name="usrtel" required> (jak nie ma to zero)<br>
</div>

<div class="hearing_aid">
	<h3>Obecne aparaty:</h3>
		{% for ear in ears %}
		<div class={{ ear }}>
		<h4>{{ ear }}:</h4>
		<ul>
			{% for make, families in ha_list.items %}
			<li>{{ make }}</li>

			<ul>
				{% for family, models in families.items %}
				<li onclick="document.getElementById('{{ ear }}_{{ make }}_{{ family }}').style.display='block'">{{ family }}
					<ul id={{ ear }}_{{ make }}_{{ family }} style="display:none">
						{% for model in models %}
						<li><input  name="{{ ear }}_ha" type="radio" value={{ make }}_{{ family }}_{{ model }} /><label for={{ make }}_{{ family }}_{{ model }}>{{ model }}</label></li>
						{% endfor %}
					</ul>
				</li>
				{% endfor %}
			</ul>
			{% endfor %}

		</ul>
		Data zakupu:<input type="date" name="{{ ear }}_purchase_date"><br>
		</div>
		{% endfor %}
</div>

</div>

<input type="submit" value="Dodaj" />
</form>

{% endblock content %}