{% extends "crm/base.html" %}

{% block content %}
<h1>Dodaj nowego pacjenta</h1>

{% if error_message %}
<p>
    <strong>{{ error_message }}</strong>
</p>{% endif %}

<form action="{% url 'crm:store' %}" method="post" id="new_patient">
    {% csrf_token %}

    <!-- name, age, tel -->
    <div class="row mt-2">
        <div class="col-xl">
            <small class="text-muted">Imię: </small>
            <br>
            <input type="text" name="fname" placeholder="Imię" required>
        </div>
        <div class="col-xl">
            <small class="text-muted">Nazwisko: </small>
            <br>
            <input type="text" name="lname" placeholder="Nazwisko" required>
        </div>
        <div class="col-xl">
            <small class="text-muted">Data ur: </small>
            <br>
            <input type="date" name="bday" required>
        </div>
        <div class="col-xl">
            <small class="text-muted">Tel: </small>
            <br>
            <input type="tel" name="usrtel" required>
        </div>
    </div>
    <hr>

    <!-- location, note -->
    <p>Lokalizacja: 
        <ul class="list-inline">
            {% for location in locations %}
            <li class="list-inline-item">
                <input type="radio" name="location" id="{{ location }}" value="{{ location }}" required>
                <label for="{{ location }}">{{ location }}</label>
                <br/>
            </li>
            {% endfor %}
        </ul>
    </p>
    <hr>

    <p>Dodaj notatkę:</p>
    <textarea form="new_patient" name="note" id="patient_note" placeholder="notatka o pacjencie"></textarea>

    <!-- helper questions -->
    <div class="btn btn-outline-secondary btn-sm" data-toggle="collapse" data-target="#kwest">pytania</div>
    <div class="collapse" id="kwest">
        <div class="card card-body">
            {% include "crm/kwest.html" %}
        </div>
    </div>
    
    <hr>

    <p>Obecnie noszone aparaty:</p>
    <div class="row">
        <div class="col-xl-6">
            <div class="btn btn-outline-info w-100">
                <div class="btn btn-secondary" data-toggle="collapse" data-target="#add_ha_left" aria-expanded="false">dodaj lewy</div>
                {% include "crm/left_ha_select.html" %}
            </div>
        </div>

        <div class="col-xl-6">
            <div class="btn btn-outline-danger w-100">
                <div class="btn btn-secondary" data-toggle="collapse" data-target="#add_ha_right" aria-expanded="false">dodaj prawy</div>
                {% include "crm/right_ha_select.html" %}
            </div>
        </div>
    </div>
    <hr>

    <p>Dodaj NIEPOTWIERDZONE wnioski NFZ:</p>
    <div class="row">
        <div class="col-xl-6">
            <div class="btn btn-outline-info w-100">
                <div class="btn btn-secondary" data-toggle="collapse" data-target="#add_NFZ_left_new" aria-expanded="false">dodaj lewy</div>
                <div class="collapse" id="add_NFZ_left_new">
                    Dodaj nowy wniosek NFZ:
                    <input type="date" name="left_NFZ_new">
                </div>
            </div>
        </div>
    
        <div class="col-xl-6">
            <div class="btn btn-outline-danger w-100">
                <div class="btn btn-secondary" data-toggle="collapse" data-target="#add_NFZ_right_new" aria-expanded="false">dodaj lewy</div>
                <div class="collapse" id="add_NFZ_right_new">
                    Dodaj nowy wniosek NFZ:
                    <input type="date" name="right_NFZ_new">
                </div>
            </div>
        </div>
    </div>
    <hr>

    <p>Dodaj potwierdzone wnioski NFZ:</p>
    <div class="row">
        <div class="col-xl-6">
            <div class="btn btn-outline-info w-100">
                <div class="btn btn-secondary" data-toggle="collapse" data-target="#add_NFZ_left" aria-expanded="false">dodaj lewy</div>
                <div class="collapse" id="add_NFZ_left">
                    Dodaj potwierdzony wniosek NFZ:
                    <input type="date" name="left_NFZ_confirmed_date">
                </div>
            </div>
        </div>
    
        <div class="col-xl-6">
            <div class="btn btn-outline-danger w-100">
                <div class="btn btn-secondary" data-toggle="collapse" data-target="#add_NFZ_right" aria-expanded="false">dodaj lewy</div>
                <div class="collapse" id="add_NFZ_right">
                    Dodaj potwierdzony wniosek NFZ:
                    <input type="date" name="right_NFZ_confirmed_date">
                </div>
            </div>
        </div>
    </div>
    <hr>

    <p>Dodaj kosztorys:</p>
    <div class="row">
        <div class="col-xl-6">
            <div class="btn btn-outline-info w-100">
                <div class="btn btn-secondary" data-toggle="collapse" data-target="#pcpr_left" aria-expanded="false">dodaj lewy</div>
                <div class="collapse" id="pcpr_left">
                    Aparat:
                    <br> {% include "crm/left_pcpr_ha_select.html" %} Data wystawienia kosztorysu:
                    <input type="date" name="left_PCPR_date">
                    <br>
                </div>
            </div>
        </div>
    
        <div class="col-xl-6">
            <div class="btn btn-outline-danger w-100">
                <div class="btn btn-secondary" data-toggle="collapse" data-target="#pcpr_right" aria-expanded="false">dodaj prawy</div>
                <div class="collapse" id="pcpr_right">
                    Aparat:
                    <br> {% include "crm/right_pcpr_ha_select.html" %} Data wystawienia kosztorysu:
                    <input type="date" name="right_PCPR_date">
                    <br>
                </div>
            </div>
        </div>
    </div>
    <hr>

    <input class="btn btn-primary btn-lg mb-5" type="submit" value="UTWÓRZ PACJENTA" />
     
</form>

{% endblock content %}