<div class="col-xl-6">
    <div class="btn btn-outline-info w-100">
    {% if left_hearing_aid %}
        <h4 class="bg-info text-white">ucho lewe</h4>
        <p class="text-center">
            {{ left_hearing_aid.ha_make }} {{ left_hearing_aid.ha_family }} {{ left_hearing_aid.ha_model }}<br>
        <small>Data zakupu: {{ left_hearing_aid.purchase_date }}</small></p>
        <div class="btn btn-secondary" data-toggle="collapse" data-target="#change_ha_left" aria-expanded="false">Zmień</div>
        <div class="collapse" id="change_ha_left">
            <div class="panel-group" id="ha_left">
                {% for make, families in ha_list.items %}
                <div class="panel panel-default">
                    <a data-toggle="collapse" data-parent="#ha_left" href="#{{ make }}_left">
                        <div class="btn btn-primary">{{ make }}</div>
                    </a>
                    <div id="{{ make }}_left" class="panel-collapse collapse in">
                        {% for family, models in families.items %}
                        <div class="panel-group" id="inner_{{ make }}_left">
                            <div class="panel panel-default">
                                <a data-toggle="collapse" data-parent="#inner_{{ make }}_left" href="#{{ make }}_{{ family|cut:" " }}_left">
                                        <div class="btn btn-success">{{ family }}</div>
                                </a>
                                <div id="{{ make }}_{{ family|cut:" " }}_left" class="panel-collapse collapse in">
                                        {% for model in models %}
                                        <div class="panel-group" id="inner_{{ make }}_{{ family|cut:" " }}_left">
                                            <div class="panel panel-default">
                                                <a data-toggle="collapse" data-parent="#inner_{{ make }}_{{ family|cut:" " }}_left" href="#{{ make }}_{{ family|cut:" " }}_{{ model|cut:" " }}_left">
                                                        <div class="btn btn-warning">{{ model }}</div>
                                                </a>
                                                <div id="{{ make }}_{{ family|cut:" " }}_{{ model|cut:" " }}_left" class="panel-collapse collapse in">
                                                        <input  name="left_ha" type="radio" value='{{ make }}_{{ family }}_{{ model }}' /><label for={{ make }}_{{ family }}_{{ model }}>{{ model }}</label>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
            <p><small>Data zakupu:</small>
            <input type="date" name="left_purchase_date"></p>
            <p><small>Kupiony w innej firmie:</small>
            <input type="checkbox" name="left_ha_other" value="left_ha_other"></p>
        </div>
        {% if not left_hearing_aid.our %}
            <p class="text-center bg-danger">APARAT KUPIONY U KONKURENCJI</p>
        {% endif %}
    {% else %}
        <div class="btn btn-secondary" data-toggle="collapse" data-target="#add_ha_left" aria-expanded="false">dodaj lewy</div>
        <div class="collapse" id="add_ha_left">
            <div class="panel-group" id="ha_left">
                {% for make, families in ha_list.items %}
                <div class="panel panel-default">
                    <a data-toggle="collapse" data-parent="#ha_left" href="#{{ make }}_left">
                        <div class="btn btn-primary">{{ make }}</div>
                    </a>
                    <div id="{{ make }}_left" class="panel-collapse collapse in">
                        {% for family, models in families.items %}
                        <div class="panel-group" id="inner_{{ make }}_left">
                            <div class="panel panel-default">
                                <a data-toggle="collapse" data-parent="#inner_{{ make }}_left" href="#{{ make }}_{{ family|cut:" " }}_left">
                                        <div class="btn btn-success">{{ family }}</div>
                                </a>
                                <div id="{{ make }}_{{ family|cut:" " }}_left" class="panel-collapse collapse in">
                                        {% for model in models %}
                                        <div class="panel-group" id="inner_{{ make }}_{{ family|cut:" " }}_left">
                                            <div class="panel panel-default">
                                                <a data-toggle="collapse" data-parent="#inner_{{ make }}_{{ family|cut:" " }}_left" href="#{{ make }}_{{ family|cut:" " }}_{{ model|cut:" " }}_left">
                                                        <div class="btn btn-warning">{{ model }}</div>
                                                </a>
                                                <div id="{{ make }}_{{ family|cut:" " }}_{{ model|cut:" " }}_left" class="panel-collapse collapse in">
                                                        <input  name="left_ha" type="radio" value='{{ make }}_{{ family }}_{{ model }}' /><label for={{ make }}_{{ family }}_{{ model }}>{{ model }}</label>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
            <p><small>Data zakupu:</small>
            <input type="date" name="left_purchase_date"></p>
            <p><small>Kupiony w innej firmie:</small>
            <input type="checkbox" name="left_ha_other" value="left_ha_other"></p>
        </div>
    {% endif %}
    </div>
</div>

<div class="col-xl-6">
    <div class="btn btn-outline-danger w-100">
    {% if right_hearing_aid %}
        <h4 class="bg-danger text-white">ucho prawe</h4>
        <p class="text-center">
            {{ right_hearing_aid.ha_make }} {{ right_hearing_aid.ha_family }} {{ right_hearing_aid.ha_model }}<br>
        <small>Data zakupu: {{ right_hearing_aid.purchase_date }}</small></p>
        <div class="btn btn-secondary" data-toggle="collapse" data-target="#change_ha_right" aria-expanded="false">Zmień</div>
        <div class="collapse" id="change_ha_right">
            <div class="panel-group" id="ha_right">
                {% for make, families in ha_list.items %}
                <div class="panel panel-default">
                    <a data-toggle="collapse" data-parent="#ha_right" href="#{{ make }}_right">
                        <div class="btn btn-primary">{{ make }}</div>
                    </a>
                    <div id="{{ make }}_right" class="panel-collapse collapse in">
                        {% for family, models in families.items %}
                        <div class="panel-group" id="inner_{{ make }}_right">
                            <div class="panel panel-default">
                                <a data-toggle="collapse" data-parent="#inner_{{ make }}_right" href="#{{ make }}_{{ family|cut:" " }}_right">
                                        <div class="btn btn-success">{{ family }}</div>
                                </a>
                                <div id="{{ make }}_{{ family|cut:" " }}_right" class="panel-collapse collapse in">
                                        {% for model in models %}
                                        <div class="panel-group" id="inner_{{ make }}_{{ family|cut:" " }}_right">
                                            <div class="panel panel-default">
                                                <a data-toggle="collapse" data-parent="#inner_{{ make }}_{{ family|cut:" " }}_right" href="#{{ make }}_{{ family|cut:" " }}_{{ model|cut:" " }}_right">
                                                        <div class="btn btn-warning">{{ model }}</div>
                                                </a>
                                                <div id="{{ make }}_{{ family|cut:" " }}_{{ model|cut:" " }}_right" class="panel-collapse collapse in">
                                                        <input  name="right_ha" type="radio" value='{{ make }}_{{ family }}_{{ model }}' /><label for={{ make }}_{{ family }}_{{ model }}>{{ model }}</label>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
            <p><small>Data zakupu:</small>
            <input type="date" name="right_purchase_date"></p>
            <p><small>Kupiony w innej firmie:</small>
            <input type="checkbox" name="right_ha_other" value="right_ha_other"></p>
        </div>
        {% if not right_hearing_aid.our %}
            <p class="text-center bg-danger">APARAT KUPIONY U KONKURENCJI</p>
        {% endif %}
    {% else %}
        <div class="btn btn-secondary" data-toggle="collapse" data-target="#add_ha_right" aria-expanded="false">dodaj prawy</div>
        <div class="collapse" id="add_ha_right">
            <div class="panel-group" id="ha_right">
                {% for make, families in ha_list.items %}
                <div class="panel panel-default">
                    <a data-toggle="collapse" data-parent="#ha_right" href="#{{ make }}_right">
                        <div class="btn btn-primary">{{ make }}</div>
                    </a>
                    <div id="{{ make }}_right" class="panel-collapse collapse in">
                        {% for family, models in families.items %}
                        <div class="panel-group" id="inner_{{ make }}_right">
                            <div class="panel panel-default">
                                <a data-toggle="collapse" data-parent="#inner_{{ make }}_right" href="#{{ make }}_{{ family|cut:" " }}_right">
                                        <div class="btn btn-success">{{ family }}</div>
                                </a>
                                <div id="{{ make }}_{{ family|cut:" " }}_right" class="panel-collapse collapse in">
                                        {% for model in models %}
                                        <div class="panel-group" id="inner_{{ make }}_{{ family|cut:" " }}_right">
                                            <div class="panel panel-default">
                                                <a data-toggle="collapse" data-parent="#inner_{{ make }}_{{ family|cut:" " }}_right" href="#{{ make }}_{{ family|cut:" " }}_{{ model|cut:" " }}_right">
                                                        <div class="btn btn-warning">{{ model }}</div>
                                                </a>
                                                <div id="{{ make }}_{{ family|cut:" " }}_{{ model|cut:" " }}_right" class="panel-collapse collapse in">
                                                        <input  name="right_ha" type="radio" value='{{ make }}_{{ family }}_{{ model }}' /><label for={{ make }}_{{ family }}_{{ model }}>{{ model }}</label>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
            <p><small>Data zakupu:</small>
            <input type="date" name="right_purchase_date"></p>
            <p><small>Kupiony w innej firmie:</small>
            <input type="checkbox" name="right_ha_other" value="right_ha_other"></p>
        </div>
    {% endif %}
    </div>
</div>