<div class="col-xl-6">
    <div class="btn btn-outline-info w-100">
    {% if left_hearing_aid %}
        <h4 class="bg-info text-white">ucho lewe</h4>
        <p class="text-center">
            {{ left_hearing_aid.ha_make }} {{ left_hearing_aid.ha_family }} {{ left_hearing_aid.ha_model }}<br>
        <small>Data zakupu: {{ left_hearing_aid.purchase_date }}</small></p>
        <div class="btn btn-secondary" data-toggle="collapse" data-target="#add_ha_left" aria-expanded="false">Zmień</div>
        {% include "crm/left_ha_select.html" %}
        {% if not left_hearing_aid.our %}
            <p class="text-center bg-warning">APARAT KUPIONY U KONKURENCJI</p>
        {% endif %}
    {% else %}
        <div class="btn btn-secondary" data-toggle="collapse" data-target="#add_ha_left" aria-expanded="false">dodaj lewy</div>
        {% include "crm/left_ha_select.html" %}
    {% endif %}
    </div>
</div>

<div class="col-xl-6">
    <div class="btn btn-outline-danger w-100">
    {% if right_hearing_aid %}
        <h4 class="bg-danger text-white">ucho prawe</h4>
        <p class="text-center">
            {{ right_hearing_aid.ha_make }} {{ right_hearing_aid.ha_family }} {{ right_hearing_aid.ha_model }}<br>
        <small>Data zakupu: {{ right_hearing_aid.purchase_date }}</small></p>
        <div class="btn btn-secondary" data-toggle="collapse" data-target="#add_ha_right" aria-expanded="false">Zmień</div>
         {% include "crm/right_ha_select.html" %}
        {% if not right_hearing_aid.our %}
            <p class="text-center bg-warning">APARAT KUPIONY U KONKURENCJI</p>
        {% endif %}
    {% else %}
        <div class="btn btn-secondary" data-toggle="collapse" data-target="#add_ha_right" aria-expanded="false">dodaj prawy</div>
        {% include "crm/right_ha_select.html" %}
    {% endif %}
    </div>
</div>