{% load static %}

<!-- patient details -->
<div class="row mt-2">
    <div class="col-6">
        <h3>Odbiorca:</h3>
        <p>{{ invoice.patient }}</p>
        <p>
            <span>
              {% if invoice.patient.street %} {{ invoice.patient.street }} {% else %} {{ invoice.patient.city }} {% endif %} {{ invoice.patient.home_number }} {% if invoice.patient.apartment_number %}
               /{{ invoice.patient.apartment_number }} {% endif %}
            </span>
        </P>
        </p>
        <P>
            <span>{{ invoice.patient.zip_code }} {{ invoice.patient.city }}</span>
        </P>
    </div>
    <div class="col-6">
        <h3>Wystawiający:</h3>
    </div>
</div>
<hr>
<br>
Wystawiona: {{ invoice.timestamp }}
<br>
Typ faktury: {{ invoice.type }}
<br>
<table class="table">
    <thead>
        <tr>
            <th>Nazwa pozycji</th>
            <th>PKWiU</th>
            <th>ilość</th>
            <th>Cena brutto</th>
            <th>Cena netto</th>
            <th>Wartość netto</th>
            <th>Stawka VAT [%]</th>
            <th>Kwota VAT</th>
            <th>wartość brutto</th>
        </tr>
    </thead>

{% if invoice.hearing_aid_set.all %}   
    <tbody>
        {% for ha in invoice.hearing_aid_set.all %}
        <tr>
            <td>Aparat słuchowy {{ ha }}</td>
            <td>{{ ha.pkwiu_code }}</td>
            <td>1</td>
            <td>{{ ha.price_gross }}</td>
            <td>netto</td>
            <td>w netto</td>
            <td>{{ ha.vat_rate }}</td>
            <td>kwota vat</td>
            <td>{{ ha.price_gross }}</td>
        </tr>
        {% endfor %}
    </tbody>

</table>
{% endif %}

{% for ha in ha_list %}
    {{ ha }}
{% endfor %}