{% extends "crm/base.html" %}
{% load static %}

{% block scripts %}
<script src="{% static 'crm/scripts/print_pcpr.js' %}"></script>
{% endblock scripts %}
{% block content %}

<h1 id="documentType" class="text-center">Kosztorys</h1>
<p id="date">Wystawiony: {{ instance.timestamp|date:'d-m-Y' }}</p>
<a href="{% url 'crm:edit' instance.patient.id %}">
    <div class="btn btn-primary float-right mb-3">Powrót do pacjenta</div>
</a>
<hr>

<!-- patient details -->
<div class="row mt-2">
    <div class="col-6">
        <h3>Odbiorca:</h3>
        <p id="patientName">{{ instance.patient }}</p>
        <p>
            <span id="address1">
                {% if instance.patient.street %} {{ instance.patient.street }} {% else %} {{ instance.patient.city }} {% endif %} {{ instance.patient.house_number }} {% if instance.patient.apartment_number %}
                /{{ instance.patient.apartment_number }} {% endif %}
            </span>
        </P>
        </p>
        <P>
            <span id="address2">{{ instance.patient.zip_code }} {{ instance.patient.city }}</span>
        </P>
    </div>
    <div class="col-6">
        <h3>Wystawiający:</h3>
        <p>Sonovox Aparaty Słuchowe Barbara Golon-Szczepaniak</p>
        <P>ul. Wagi 6/1</P>
        <p>61-244 Poznań</p>
        <p>NIP: 7821377519</p>
    </div>
</div>

<a href="{% url 'crm:invoice_create' instance.patient.id %}?prototype={{ instance.id }}">
    <div class="btn btn-primary float-right mb-3">Utwórz fakturę</div>
</a>
<hr>

<table class="table">
    <thead>
        <tr>
            <th>Lp.</th>
            <th>Nazwa pozycji</th>
            <th>PKWiU</th>
            <th>ilość</th>
            <th>Cena brutto</th>
            <th>Cena netto</th>
            <th>Wartość netto</th>
            <th>Stawka VAT [%]</th>
            <th>Kwota VAT</th>
            <th>wartość brutto</th>
        </tr>
    </thead>

    <tbody>
        {% for i in all_items_numbered %}
        <tr>
            <td>{{ i.0 }}</td>
            <td>{{ i.1 }}</td>
            <td>{{ i.2.pkwiu_code }}</td>
            <td>{{ i.2.quantity }}</td>
            <td>{{ i.2.price_gross }}</td>
            <td>{{ i.2.net_price }}</td>
            <td>{{ i.2.net_value }}</td>
            <td>{{ i.2.vat_rate }}</td>
            <td>{{ i.2.vat_amount }}</td>
            <td>{{ i.2.gross_value }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><strong>Łącznie:</strong></td>
            <td id="totalVal"><strong>{{ total_value }}</strong></td>
        </tr>
    </tbody>
</table>

{% if instance.note %}
<section id="note">
    <h4>Notatka:</h4>
    <p>{{ instance.note|safe }}</p>
    <hr>
</section>
{% endif %}

<button class="btn btn-outline-primary mb-3" onclick="printDiv()">Drukuj kosztorys</button>

<form action="{% url 'crm:pcpr_detail' instance.id %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="inactivate" value="True">
    <input class="btn btn-outline-danger float-right mb-3" type="submit"
    id="remove" value=Usuń kosztorys>
</form>


<script>
var remove = document.getElementById('remove');
remove.addEventListener('click', function(event){
    
    var decission = confirm('Czy napewno chcesz usunąć kosztorys?');
    if (decission==false){
        event.preventDefault();
    }
})

</script>
{% endblock content %}