{% extends "crm/base.html" %}

{% block content %}

<h1>{{ patient.last_name }} {{ patient.first_name }}</h1> <strong><a href="{% url 'crm:edit' patient.id %}">EDYTUJ</a></strong>
<ul>
	<li>Data ur: {{ patient.date_of_birth }}</li>
	<li>Nr tel: {{ patient.phone_no }}</li>

</ul>

{% for i in current_NFZ_confirmed_applications %}
Potwierdzony wniosek na aparat {{ i.side }} przyniesiono {{ i.date }}<br>

{% endfor %}

{{ right_NFZ_confirmed.date }} prawy nfz <br>
{{ left_NFZ_confirmed.date }} lewy nfz <br>

pcpr lewy: {{ left_PCPR_estimate.date }}<br>
pcpr prawy: {{ right_PCPR_estimate.date }}<br>

lewy aparat: {{ left_hearing_aid.ha_make }} {{ left_hearing_aid.ha_family }} {{ left_hearing_aid.ha_model }} <br>
prawy aparat: {{ right_hearing_aid.ha_make }} {{ right_hearing_aid.ha_family }} {{ right_hearing_aid.ha_model }} <br>
prawa faktura: {{ right_invoice.date }} {{ right_invoice.ha_make }} {{ right_invoice.ha_family }} {{ right_invoice.ha_model }}
lewa faktura: {{ left_invoice.date }} {{ left_invoice.ha_make }} {{ left_invoice.ha_family }} {{ left_invoice.ha_model }}
{% endblock content %}