{% extends "crm/base.html" %}
{% load static %}

{% block scripts %}
<script src="{% static 'crm/scripts/print_invoice.js' %}"></script>
{% endblock scripts %}
{% block content %}

<h1 id="documentType" class="text-center">Faktura VAT</h1>
<p>
    <span id="date">Wystawiona: {{ instance.date|date:'d-m-Y' }}</span>, 
    <span>utworzona: {{ instance.timestamp }}</span>, 
    Nr dokumentu: <span id="documentNo">{{ instance.get_number }}</span>
</p>
<p>Typ faktury: <span id="invoiceType" >{{ instance.type }}</span></p>
{% if instance.current %}
    <p>Aktywna</p>
{% endif %}

{% if cinvoices %}
<p>Faktury korekty:</p>
<ul class="list-unstyled">
    {% for c in cinvoices %}
    <li><a href="{% url 'crm:corrective_invoice_detail' c.id %}">Korekta nr {{ c.timestamp|date:'d-m-Y' }} nr {{ c.id }}</a></li>
    {% endfor %}
</ul>
{% endif %}
<a href="{% url 'crm:edit' instance.patient.id %}">
    <div class="btn btn-primary float-right mb-3">Powrót do pacjenta</div>
</a>
<hr>

<!-- patient details -->
<div class="row mt-2">
    <div class="col-6">
        <h3>Odbiorca:</h3>
        <p id="patientName">{{ instance.patient }}</p>
        <p>
            <span id="address1">
              {% if instance.patient.street %} {{ instance.patient.street }} {% else %} {{ instance.patient.city }} {% endif %} {{ instance.patient.house_number }} {% if instance.patient.apartment_number %}
               /{{ instance.patient.apartment_number }} {% endif %}
            </span>
        </P>
        </p>
        <P>
            <span id="address2">{{ instance.patient.zip_code }} {{ instance.patient.city }}</span>
        </P>
    </div>
    <div class="col-6">
        <h3>Wystawiający:</h3>
        <p>Sonovox Aparaty Słuchowe Barbara Golon-Szczepaniak</p>
        <P>ul. Wagi 6/1</P>
        <p>61-244 Poznań</p>
        <p>NIP: 7821377519</p>
    </div>
</div>
<hr>

<table class="table">
    <thead>
        <tr>
            <th>Nazwa pozycji</th>
            <th>PKWiU</th>
            <th>ilość</th>
            <th>Cena brutto</th>
            <th>Cena netto</th>
            <th>Wartość netto</th>
            <th>Stawka VAT [%]</th>
            <th>Kwota VAT</th>
            <th>wartość brutto</th>
        </tr>
    </thead>

<tbody>
    {% for key, value in ha_list.items %}
    <tr>
        <td>Aparat słuchowy {{ key }}</td>
        <td>{{ value.pkwiu_code }}</td>
        <td>{{ value.quantity }}</td>
        <td>{{ value.price_gross }}</td>
        <td>{{ value.net_price }}</td>
        <td>{{ value.net_value }}</td>
        <td>{{ value.vat_rate }}</td>
        <td>{{ value.vat_amount }}</td>
        <td>{{ value.gross_value }}</td>
    </tr>
    {% endfor %}
    {% for key, value in other_list.items %}
    <tr>
        <td>{{ key }}</td>
        <td>{{ value.pkwiu_code }}</td>
        <td>{{ value.quantity }}</td>
        <td>{{ value.price_gross }}</td>
        <td>{{ value.net_price }}</td>
        <td>{{ value.net_value }}</td>
        <td>{{ value.vat_rate }}</td>
        <td>{{ value.vat_amount }}</td>
        <td>{{ value.gross_value }}</td>
    </tr>
    {% endfor %}
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><strong>Łącznie:</strong></td>
        <td id="totalVal"><strong>{{ total_value }}</strong></td>
    </tr>
</tbody>
</table>
{% if instance.note %}
<section id="note">
    <h4>Notatka:</h4>
    <p>{{ instance.note }}</p>
    <hr>
</section>
{% endif %}


<button class="btn btn-outline-primary mb-3" onclick="printDiv()">Drukuj fakturę</button>

<a href="{% url 'crm:corrective_invoice_create' instance.id %}">
    <div class="btn btn-outline-warning float-right mb-3">Faktura korekta</div>
</a>
<a href="{% url 'crm:invoice_update' instance.id %}">
    <div class="btn btn-outline-warning float-right mb-3">Edytuj fakturę</div>
</a>
<form action="{% url 'crm:invoice_detail' instance.id %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="inactivate" value="True">
    <input class="btn btn-outline-danger float-right mb-3" type="submit" id="remove" value=Usuń fakturę>
</form>

<script>
    var remove = document.getElementById('remove');
    remove.addEventListener('click', function (event) {

        var decission = confirm('Czy napewno chcesz usunąć fakturę?');
        if (decission == false) {
            event.preventDefault();
        }
    })
</script>
{% endblock content %}