{% extends "crm/base.html" %}

{% block content %}

<p id="top_details"><b>{{ patient.last_name }} {{ patient.first_name}}</b>
<small>
{{ patient.date_of_birth|date:'d-m-Y' }}, tel: {{ patient.phone_no }},
pacjent utworzony przez {{ patient.audiometrist }} w dniu {{ patient.create_date|date:'d-m-Y' }}
</small>
</p>

<div class="status">{% include "crm/status.html" %}</div>

<div id="details">
<div class="patient_info">
<div class="col70 inline_block">
<form action="{% url 'crm:updating' patient.id %}" method="post" id="edit_patient">
{% csrf_token %}
{% include "crm/actions.html" %}


Imię: <input type="text" name="fname" value="{{ patient.last_name }}" required><br>
Nazwisko: <input type="text" name="lname" value="{{ patient.first_name }}" required><br>
Data ur: <input type="date" name="bday" value="{{ patient.date_of_birth|date:'Y-m-d' }}"><br>
Nr tel.: (jak nie ma to 0 - zero)<input type="tel" name="usrtel" value="{{ patient.phone_no }}" required><br>
Lokalizacja: {{ patient.location }} <small onclick="document.getElementById('location').style.display='block'" id="zmien">ZMIEN</small><br>
	<ul id="location" style="display:none">
	{% for location in patient.locations %}
		<li>
		<input type="radio" name="location" id="{{ location }}" value="{{ location }}"
			{% if location == patient.location %} checked="checked" {% endif %}
		/>
		<label for="{{ location }}">{{ location }}</label><br/>
		</li>
	{% endfor %}
	</ul>
<textarea form="edit_patient" name="new_note" id="patient_note" placeholder="nowa notatka"></textarea>

<small>Kto sporządził notatkę:</small>
<ul >
{% for a in patient.audiometrist_list %}
	<li class="audiometrist">
	<input type="radio" name="audiometrist" id="a{{ forloop.counter }}" value="{{ a }}" class="inline"/>
	<label for="a{{ forloop.counter }}">{{ a }}</label><br/>
	</li>
{% endfor %}
</ul>

<div class="hearing_aid">
		{% for ear in ears %}
		<div class={{ ear }}>

		<p><b>aparat
			{% if ear == "right" %}
				prawy:</b><br>
				{% if right_hearing_aid %}
				<small>
				{{ right_hearing_aid.ha_make }} {{ right_hearing_aid.ha_family }} {{ right_hearing_aid.ha_model }}<br>Data zakupu: {{ right_hearing_aid.purchase_date }}<br>
				{% if not right_hearing_aid.our %}<div class="our"><small>APARAT KUPIONY U KONKURENCJI</small></div>{% endif %}
				</small>
				{% endif %}
			{% else %}
				lewy:</b><br>
				{% if left_hearing_aid %}
				<small>
				{{ left_hearing_aid.ha_make }} {{ left_hearing_aid.ha_family }} {{ left_hearing_aid.ha_model }}<br>Data zakupu: {{ left_hearing_aid.purchase_date }}<br>
				{% if not left_hearing_aid.our %}<div class="our"><small>APARAT KUPIONY U KONKURENCJI</small></div>{% endif %}
				</small>
				{% endif %}
			{% endif %}
		</p>

		<h4 onclick="document.getElementById('{{ ear }}').style.display='block'">ZMIEN</h4>
		
		<div  id={{ ear }} style="display:none">
		<ul>
			{% for make, families in ha_list.items %}
			<li onclick="document.getElementById('{{ ear }}_{{ make }}').style.display='block'">{{ make }}</li>

			<ul id='{{ ear }}_{{ make }}' style="display:none">
				{% for family, models in families.items %}
				<li onclick="document.getElementById('{{ ear }}_{{ make }}_{{ family }}').style.display='block'">{{ family }}
					<ul id='{{ ear }}_{{ make }}_{{ family }}' style="display:none">
						{% for model in models %}
						<li><input  name="{{ ear }}_ha" type="radio" value='{{ make }}_{{ family }}_{{ model }}' /><label for={{ make }}_{{ family }}_{{ model }}>{{ model }}</label></li>
						{% endfor %}
					</ul>
				</li>
				{% endfor %}
			</ul>
			{% endfor %}

		</ul>
		Data zakupu:<input type="date" name="{{ ear }}_purchase_date"><br>
		Kupiony w innej firmie:<input type="checkbox" name="{{ ear }}_ha_other" value="{{ ear }}_ha_other"><br>
		</div>

		</div>
		{% endfor %}
</div>

<input class="btn" type="submit" value="Aktualizuj dane pacjenta" />
</form>
</div>

<div class="col30 inline_block eae">
<h3>Ostatnie notatki:</h3>
<ul id="notes">
{% for note in patient_notes %}
	<li>
	<small>{{ note.timestamp|date:'d-m-Y H:i' }}, {{ note.audiometrist }}</small><br>
	{{ note.note }}
	<hr>
	</li>
{% endfor %}
</ul>
</div>


</div>

</div>
<h3>usuń pacjenta z bazy:</h3>
<a href="{% url 'crm:deleteconfirm' patient.id %}">USUWAM</a>

{% endblock content %}