{% extends "crm/base.html" %}

{% block scripts %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Frequency', 'Air'],
          ['250',        {% if left_audiogram.a250Hz %}{{ left_audiogram.a250Hz }}{% else %}0{% endif %}],
          ['500',       {% if left_audiogram.a500Hz %}{{ left_audiogram.a500Hz }}{% else %}'none'{% endif %}],
          ['1k',       {% if left_audiogram.a1kHz %}{{ left_audiogram.a1kHz }}{% else %}'none'{% endif %}],
          ['2k',       {% if left_audiogram.a2kHz %}{{ left_audiogram.a2kHz }}{% else %}'none'{% endif %}],
          ['4k',       {% if left_audiogram.a4kHz %}{{ left_audiogram.a4kHz }}{% else %}'none'{% endif %}],
          ['8k',       {% if left_audiogram.a8kHz %}{{ left_audiogram.a8kHz }}{% else %}'none'{% endif %}]
        ]);


        var options = {
          'title':'Lewy',
          legend: 'none',
          hAxis: { minValue: 0, maxValue: 9 },
          colors: ['blue'],
          lineWidth: 0.5,
          series: {
            0: { pointShape: {  type: 'star', sides: 4, dent: 0.05, rotation: 45 }, pointSize: 25  },
            
                  },
          vAxis: {direction: '-1', minValue: 10, maxValue: 100},
        };

        var chart = new google.visualization.LineChart(document.getElementById('left_audiogram'));
        chart.draw(data, options);
    }


    google.charts.setOnLoadCallback(drawChart2);
      function drawChart2() {
        var data = google.visualization.arrayToDataTable([
          ['Frequency', 'Air'],
           ['250',        {% if right_audiogram.a250Hz %}{{ right_audiogram.a250Hz }}{% else %}0{% endif %}],
          ['500',       {% if right_audiogram.a500Hz %}{{ right_audiogram.a500Hz }}{% else %}'none'{% endif %}],
          ['1k',       {% if right_audiogram.a1kHz %}{{ right_audiogram.a1kHz }}{% else %}'none'{% endif %}],
          ['2k',       {% if right_audiogram.a2kHz %}{{ right_audiogram.a2kHz }}{% else %}'none'{% endif %}],
          ['4k',       {% if right_audiogram.a4kHz %}{{ right_audiogram.a4kHz }}{% else %}'none'{% endif %}],
          ['8k',       {% if right_audiogram.a8kHz %}{{ right_audiogram.a8kHz }}{% else %}'none'{% endif %}]
        ]);


        var options = {
          'title':'Prawy',
          legend: 'none',
          hAxis: { minValue: 0, maxValue: 9 },
          colors: ['red'],
          lineWidth: 0.5,
          series: {
            0: { pointSize: 6 },
                  },
          vAxis: {direction: '-1', minValue: 10, maxValue: 100},
        };

        var chart = new google.visualization.LineChart(document.getElementById('right_audiogram'));
        chart.draw(data, options);
    }


    </script>
{% endblock scripts %}

{% block content %}
<div class="status">{% include "crm/status.html" %}</div>

<div class="row mt-1">
	<div class="col-lg-9">
		<form action="{% url 'crm:updating' patient.id %}" method="post" id="edit_patient">
		{% csrf_token %}
		{% include "crm/actions.html" %}
		<hr>
		<!-- name age tel -->
		<div class="row mt-2">
			<div class="col-xl">
			<small class="text-muted">Imię: </small><br>
			<input type="text" name="fname" value="{{ patient.first_name }}" required>
			</div>
			<div class="col-xl">
			<small class="text-muted">Nazwisko: </small><br>
			<input type="text" name="lname" value="{{ patient.last_name }}" required>
			</div>
			<div class="col-xl">
			<small class="text-muted">Data ur: </small><br>
			<input type="date" name="bday" value="{{ patient.date_of_birth|date:'Y-m-d' }}">
			</div>
			<div class="col-xl">
			<small class="text-muted">Tel: </small><br>
			<input type="tel" name="usrtel" value="{{ patient.phone_no }}" required>
			</div>
		</div>
		<hr>
		<!-- location audometrist note -->
		<div class="row mt-2">
			<div class="col-xl-3">
				<small class="text-muted">Lokalizacja: </small><br>
				{{ patient.location }}<br>
				<small onclick="document.getElementById('location').style.display='block'" id="zmien">ZMIEN</small><br>
				<ul id="location" style="display:none">
				{% for location in patient.locations %}
					<li>
					<input type="radio" name="location" id="{{ location }}" value="{{ location }}"
						{% if location == patient.location %} checked="checked" {% endif %}
					/>
					<label for="{{ location }}">{{ location }}</label><br/>
					</li>
				{% endfor %}
				</ul>
			</div>
			<div class="col-xl-3">
				<small class="text-muted">Autor notatki:</small>
				<ul class="list-unstyled">
				{% for a in patient.audiometrist_list %}
					<li>
					<input type="radio" name="audiometrist" id="a{{ forloop.counter }}" value="{{ a }}" class="inline"/>
					<label for="a{{ forloop.counter }}">{{ a }}</label>
					</li>
				{% endfor %}
				</ul>
			</div>
			<div class="col-xl-6">
				<textarea form="edit_patient" name="new_note" id="patient_note" placeholder="nowa notatka"></textarea>
			</div>
		
		</div>
		<hr>
		<h4 class="text-center">Aktualnie noszone aparaty:</h4>
		<!-- current hearing aids -->
		<div class="row mt-2">
			{% for ear in ears %}
			<div class="col-xl-6">
				<p class="text-center">
					{% if ear == "right" %}
						prawy:<br>
						{% if right_hearing_aid %}
						
						{{ right_hearing_aid.ha_make }} {{ right_hearing_aid.ha_family }} {{ right_hearing_aid.ha_model }}<br>Data zakupu: {{ right_hearing_aid.purchase_date }}<br>
						{% if not right_hearing_aid.our %}<p class="bg-danger">APARAT KUPIONY U KONKURENCJI</p>{% endif %}
						
						<button onclick="document.getElementById('{{ ear }}').style.display='block'">ZMIEN</button>
						{% endif %}
					{% else %}
						lewy:<br>
						{% if left_hearing_aid %}
						
						{{ left_hearing_aid.ha_make }} {{ left_hearing_aid.ha_family }} {{ left_hearing_aid.ha_model }}<br>Data zakupu: {{ left_hearing_aid.purchase_date }}<br>
						{% if not left_hearing_aid.our %}<p class="bg-danger">APARAT KUPIONY U KONKURENCJI</p>{% endif %}
						
						<button onclick="document.getElementById('{{ ear }}').style.display='block'">ZMIEN</button>
						{% endif %}
					{% endif %}
				</p>
				<div  id={{ ear }} style="display:none">
				<ul>
					{% for make, families in ha_list.items %}
					<li onclick="document.getElementById('{{ ear }}_{{ make }}').style.display='block'">{{ make }}</li>

					<ul id='{{ ear }}_{{ make }}' style="display:none">
						{% for family, models in families.items %}
						<li onclick="document.getElementById('{{ ear }}_{{ make }}_{{ family }}').style.display='block'">{{ family }}
							<ul id='{{ ear }}_{{ make }}_{{ family }}' style="display:none">
								{% for model in models %}
								<li><input  name="{{ ear }}_ha" type="radio" value='{{ make }}_{{ family }}_{{ model }}' /><label for={{ make }}_{{ family }}_{{ model }}>{{ model }}</label></li>
								{% endfor %}
							</ul>
						</li>
						{% endfor %}
					</ul>
					{% endfor %}

				</ul>
				Data zakupu:<input type="date" name="{{ ear }}_purchase_date"><br>
				Kupiony w innej firmie:<input type="checkbox" name="{{ ear }}_ha_other" value="{{ ear }}_ha_other"><br>
				</div>
			</div>
			{% endfor %}
		</div>
		<hr>
		<!-- audiograms -->
		{% if left_audiogram or right_audiogram %}
		<section id="audiogram" class="mw-100">
			<div id="left_audiogram">Lewe:
				<ul>
					<li>250Hz: {{ left_audiogram.a250Hz }}</li>
					<li>500Hz: {{ left_audiogram.a500Hz }}</li>
					<li>1kHz: {{ left_audiogram.a1kHz }}</li>
					<li>2kHz: {{ left_audiogram.a2kHz }}</li>
					<li>4kHz: {{ left_audiogram.a4kHz }}</li>
					<li>8kHz: {{ left_audiogram.a8kHz }}</li>
				</ul>
			</div>
			<div id="right_audiogram">Prawe:
				<ul>
					<li>250Hz: {{ right_audiogram.a250Hz }}</li>
					<li>500Hz: {{ right_audiogram.a500Hz }}</li>
					<li>1kHz: {{ right_audiogram.a1kHz }}</li>
					<li>2kHz: {{ right_audiogram.a2kHz }}</li>
					<li>4kHz: {{ right_audiogram.a4kHz }}</li>
					<li>8kHz: {{ right_audiogram.a8kHz }}</li>
				</ul>
			</div>
		</section>

		<div id="remove_audiogram">Usuń audiogram: <input type="checkbox" name="remove_audiogram" value="remove" id="remove_audiogram" />
						<label for="remove_audiogram">usuń</label>
		</div>l
		{% endif %}

		<input class="btn" type="submit" value="Aktualizuj dane pacjenta" />
		</form>
	</div>

	<div class="col-lg-3">
		<small>Dodany przez {{ patient.audiometrist }} w dniu {{ patient.create_date|date:'d-m-Y' }}</small>
		<h3>Ostatnie notatki:</h3>
		<ul id="notes">
		{% for note in patient_notes %}
			<li>
			<small>{{ note.timestamp|date:'d-m-Y H:i' }}, {{ note.audiometrist }}</small><br>
			{{ note.note }}
			<hr>
			</li>
		{% endfor %}
		</ul>
	</div>
</div>

<h3>usuń pacjenta z bazy:</h3>
<a href="{% url 'crm:deleteconfirm' patient.id %}">USUWAM</a>


{% endblock content %}