{% extends "crm/base.html" %}
{% load static %}

{% block content %}
<div class="m-2">
    <h1 class="text-center">Lista faktur</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Numer</th>
                <th>Data</th>
                <th>Imię i nazwisko</th>
            </tr>
        </thead>
        <tbody>
            {% for i in object_list %}
            <tr class="hooverable">
                <td><a href="{% url 'crm:invoice_detail' i.id %}"
                    {% if i.corrective_invoice_set.all %}
                    class="btn-outline-danger"
                    {% endif %}
                    >{{ i.get_number }}</a>
                </td>
                <td><a href="{% url 'crm:invoice_detail' i.id %}"
                    {% if i.corrective_invoice_set.all %}
                    class="btn-outline-danger"
                    {% endif %}
                    >{{ i.date|date:'d-m-Y' }}</a>
                </td>
                <td><a href="{% url 'crm:invoice_detail' i.id %}"
                    {% if i.corrective_invoice_set.all %}
                    class="btn-outline-danger"
                    {% endif %}>{{ i.patient }}</a>
                </td>

            </tr>
            {% endfor %}
        </tbody>
</div>
{% endblock content %}