<h4>Praca</h4>
<ul class="list-unstyled">
<li>Czy pracował kiedyś w hałasie lub w stresie?</li>
<li>Gdzie pracuje/pracował?</li>
</ul>

<h4>Dofinansowania</h4>
<ul class="list-unstyled">
<li>Czy stara się o dofinansowanie z NFZ?</li>
<li>Czy w ciągu ostatnich 5 lat otrzymał dofinansowanie w związku z leczeniem/rehabilitacją?</li>
<li>Czy ubiegał się kiedyś o dofinansowanie z PCPR/MOPS?</li>
<li>Czy miesięczne dochody netto przekraczają 2150zł?</li>
</ul>

<h4>Spędzanie czasu</h4>
<ul class="list-unstyled">
<li>Czy pracuje - gdzie, co robi?</li>
<li>Czy spędza czas sam czy w towarzystwie.</li>
<li>W domu czy poza domem.</li>
<li>Czy często rozmawia z dziećmi?</li>
<li>Czy często słucha radia, ogląda TV?</li>
<li>Czy słucha muzyki, chodzi na koncerty?</li>
<li>Czy często chodzi do kościoła albo przebywa w dużych pomieszczeniach, aulach?</li>
<li>Czy mieszka sam czy z żoną?</li>
<li>Jak często spotkania rodzinne?</li>
<li>Z kim jeszcze się spotyka?</li>
<li>Gdzie najczęściej wychodzi z domu?</li>
<li>Czy bierze udział w kursach/zebraniach?</li>
</ul>

<h4>Sytuacje w których najbardziej przeszkadza niedosłuch</h4>
Ustal co chciałby osiągnąć, jaka jest kolejność priorytetów

<h4>Co jest istotne w aparacie</h4>
<ul class="list-unstyled">
<li>Łatwość obsługi - duży toporny</li>
<li>Jakość dźwięku</li>
<li>wygląd aparatów - dyskrecja</li>
<li>Gdzie będzie użytkował aparat?</li>
</ul>

