<div class="panel-group" id="invoice_ha_left">
    {% for make, families in ha_list.items %}
    <div class="panel panel-default">
        <a data-toggle="collapse" data-parent="#invoice_ha_left" href="#invoice_{{ make }}_left">
            <div class="btn btn-primary">{{ make }}</div>
        </a>
        <div id="invoice_{{ make }}_left" class="panel-collapse collapse in">
            {% for family, models in families.items %}
            <div class="panel-group" id="inner_invoice_{{ make }}_left">
                <div class="panel panel-default">
                    <a data-toggle="collapse" data-parent="#inner_invoice_{{ make }}_left" href="#invoice_{{ make }}_{{ family|cut:" " }}_left">
                            <div class="btn btn-success">{{ family }}</div>
                    </a>
                    <div id="invoice_{{ make }}_{{ family|cut:" " }}_left" class="panel-collapse collapse in clearfix">
                        {% for model in models %}
                                <div class="float-left">
                                    <label class="bg-secondary ml-1 p-1">
                                        <input  name="left_invoice_ha" type="radio" value='{{ make }}_{{ family }}_{{ model }}' id='invoice_left_{{ make }}_{{ family }}_{{ model }}' />
                                        {{ model }}
                                    </label>
                                </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>