{% extends "crm/base.html" %}
{% load static %}

{% block content %}
<div class="m-2">
    <h1 class="text-center">Dodaj towar</h1>

    {% if error_message %}
    <p>
        <strong>{{ error_message }}</strong>
    </p>{% endif %}
    <p>Np. Marka: Audioservice, Rodzina: Wkładka uszna, Model: Twarda</p>
    <form action="{% url 'crm:add_other' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-primary" type="submit" value="Zatwierdzam" />
    </form>
</div>
{% endblock content %}