{% extends "crm/base.html" %}

{% block content %}

{% if patients %}
<table class="table">
	<tr>
		<th><a href="?order_by=last_name">Nazwisko</a></th>
		<th><a href="?order_by=first_name">Imię</a></th>
		<th><a href="?order_by=date_of_birth">Data urodzenia</a></th>
		<th><a href="?order_by=create_date">Data dodania</a></th>
	</tr>
	{% for patient in patients %}
	<tr>
		<td><a href="{% url 'crm:edit' patient.id %}">{{ patient.last_name }}</a></td>
		<td><a href="{% url 'crm:edit' patient.id %}">{{ patient.first_name }}</a></td>
		<td>{{ patient.date_of_birth|date:'Y m d' }}</td>
		<td>{{ patient.create_date|date:'Y m d' }}</td>
	
	</tr>

	{% endfor %}
</table>

<div class="pagination">
    <span class="step-links">
        {% if patients.has_previous %}
            <a href="?page={{ patients.previous_page_number }}">poprzednia</a>
        {% endif %}

        <span class="current">
            Strona {{ patients.number }} z {{ patients.paginator.num_pages }}.
        </span>

        {% if patients.has_next %}
            <a href="?page={{ patients.next_page_number }}">następna</a>
        {% endif %}
    </span>
</div>
{% else %}
	<p>Nie ma takich pacjentów</p>
{% endif %}
</div>
{% endblock content %}