{% extends "crm/base.html" %}
{% block content %}
<h4 class="text-center mt-3">{{ subject }}</h4>
<p class="text-center">Pacjent: <a href="{% url 'crm:edit' patient.id %}">{{ patient }}</a></p>
<hr>

<a href="{% url 'crm:reminders' %}">
    <button class="btn btn-lg btn-primary btn-info float-left">Cofnij</button>
</a>


<form action="{{ url_address }}" method="post">
    {% csrf_token %}

    <div class="btn btn-sm btn-secondary float-right">
        Zaznacz aby usunąć przypomnienie:
        <input type="checkbox" name="remove_reminder" value="remove" />
    </div>

<input class="btn btn-primary btn-lg" type="submit" value="Usuń" />
</form>
{% endblock %}