{% if left_NFZ_confirmed or right_NFZ_confirmed %}
	<div class="btn btn-sm btn-danger">
		<small>wnioski NFZ:
		{% if left_NFZ_confirmed %}Lewy: {{ left_NFZ_confirmed.date|date:'d-m-Y' }}, {% endif %}
		{% if right_NFZ_confirmed %}Prawy: {{ right_NFZ_confirmed.date|date:'d-m-Y' }}{% endif %}
		</small>
	</div>
{% endif %}

{% if left_PCPR_estimate or right_PCPR_estimate %}
	<div class="btn btn-sm btn-danger">
		<small>Kosztorys:
		{% if left_PCPR_estimate %}Lewy: 
			{{ left_PCPR_estimate.ha_make }}, 
			{{ left_PCPR_estimate.ha_family }}, 
			{{ left_PCPR_estimate.ha_model }}, 
			{{ left_PCPR_estimate.date|date:'d-m-Y' }}, 
		{% endif %}
		{% if right_PCPR_estimate %}Prawy: 
			{{ right_PCPR_estimate.ha_make }}, 
			{{ right_PCPR_estimate.ha_family }}, 
			{{ right_PCPR_estimate.ha_model }}, 
			{{ right_PCPR_estimate.date|date:'d-m-Y' }}
		{% endif %}
		</small>
	</div>
{% endif %}

{% if left_invoice or right_invoice %}
	<div class="btn btn-sm btn-danger">
		<small>Faktura:
		{% if left_invoice %}Lewy: 
			{{ left_invoice.ha_make }}, 
			{{ left_invoice.ha_family }}, 
			{{ left_invoice.ha_model }}, 
			{{ left_invoice.date|date:'d-m-Y' }}, 
		{% endif %}
		{% if right_invoice %}Prawy: 
			{{ right_invoice.ha_make }}, 
			{{ right_invoice.ha_family }}, 
			{{ right_invoice.ha_model }}, 
			{{ right_invoice.date|date:'d-m-Y' }}
		{% endif %}
		</small>
	</div>
{% endif %}