{% if left_NFZ_confirmed or right_NFZ_confirmed %}
<div class="btn btn-sm btn-danger">
	<small>Wnioski NFZ:
		{% if left_NFZ_confirmed %}Lewy: {{ left_NFZ_confirmed.date|date:'d-m-Y' }}, {% endif %}
		{% if right_NFZ_confirmed%}Prawy: {{ right_NFZ_confirmed.date|date:'d-m-Y' }}{% endif %}
	</small>
</div>
{% endif %}

{% if PCPR_estimate %}
	<div class="btn btn-sm btn-danger">
		<small>Proforma: {{ PCPR_estimate.timestamp|date:'d-m-Y' }}
		</small>
	</div>
{% endif %}

{% if invoice_active %}
<div class="btn btn-sm btn-danger">
	<small>Faktura
	</small>
</div>
{% endif %}