{% extends "crm/base.html" %}

{% block content %}

<h1>Plik SZOI</h1>
<p>Zaimportowany: {{ object.uploaded_at }}</p>
<p>Nazwa pliku: {{ object.filename }}</p>


<form method="post">{% csrf_token %}
    {{ form }}
    <input type="submit" value="Rozpocznij aktualizację towarów">
</form>

<hr>

<h3>Poprzednie użycia pliku:</h3>
<ul>
    {% for i in szoi_usage_list %}
    <li><a href="{% url 'crm:szoi_usage_detail' i.id %}">{{ i.used }}</a>
        {% if i.error_log %} BŁĘDY! {% else %}, bez błędów.{% endif %}</li>
    {% endfor %}
</ul>

{% endblock content %}

